<div style='background: chocolate; padding: 20px; margin: 15px;'>
    <a href='products/<%=product.id%>'>
        <h2><%= product.name %></h2>
        <p><%= product.descripyion %></p>
        <p><%= product.price/100 %> zł</p>
    </a>
</div>